/*style css*/

body{
    font-family: 'Sagoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

h1{
    color: #333;
    text-align: center;
    margin-top: 20px;
}

form{
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="file"]{
    width: 100px;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#preview{
    max-width: 100%;
    max-height: 200px;
    margin-top: 10px;
    display: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    background-color: #4caf50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    display: block;
    margin-top: 10px;
    font-size: 16px;
}

button :disabled{
    background-color: #aaa;
    cursor: not-allowed;
}

#loading{
    display: none;
    margin-top: 10px;
    text-align: center;
    color: #888;
}