/*style css*/

body{
    font-family: 'Sagoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #FF7474;
    margin: 0;
    padding: 0;
}

.label {
    width: 692px;
    height: 122px;
    position: relative; /* Tambahkan properti ini untuk memungkinkan penempatan yang tepat */
  }
  
  .label .imagi-craft {
    position: absolute;
    top: -70px; /* Sesuaikan dengan sumbu y yang diinginkan */
    left: 530px; /* Sesuaikan dengan sumbu x yang diinginkan */
    text-shadow: 0px 10px 4px #00000040;
    -webkit-text-stroke: 3px #000000;
    font-family: "Gotham-Bold", Helvetica;
    font-weight: 700;
    color: transparent;
    font-size: 90px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .label .text-wrapper {
    color: #cbffaa;
  }
  
  .label .span {
    color: #ffbe6f;
  }
  
.deskripsi {
    width: 856px;
    height: 31px;
    position: relative;
  }
  
  .deskripsi .text-wrapper {
    position: absolute;
    top: -20px;
    left: 450px;
    text-shadow: 0px 10px 4px #00000040;
    font-family: "Gotham-Bold", Helvetica;
    font-weight: 700;
    color: #f5f38e;
    font-size: 25px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
form{
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFBE6F;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label{
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="file"]{
    width: 100px;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#preview{
    max-width: 100%;
    max-height: 400px;
    margin-top: 10px;
    display: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button{
    text-shadow: 0px 4px 4px #00000040;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    background-color: #CBFFAA;
    color: #000000;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    display: block;
    margin-top: 10px;
    font-size: 16px;
}

button :disabled{
    background-color: #aaa;
    cursor: not-allowed;
}

#loading{
    display: none;
    margin-top: 10px;
    text-align: center;
    color: #888;
}