.desktop {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop .div {
    background-color: #ffffff;
    overflow: hidden;
    width: 1440px;
    height: 1024px;
    position: relative;
  }
  
  .desktop .image-craft {
    position: absolute;
    width: 818px;
    top: 59px;
    left: 311px;
    font-family: "Kavoon-Regular", Helvetica;
    font-weight: 400;
    color: transparent;
    font-size: 135px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .desktop .text-wrapper {
    color: #023027;
  }
  
  .desktop .span {
    color: #000000;
  }
  
  .desktop .text-wrapper-2 {
    color: #ffb703;
  }
  